p {
    font-family: monospace;
    font-size: 0.8em;
}
h1 {
    color: green;
}
body {
    background-color: rgb(255, 400, 200);
    font-size: 14px;
}
#descricao {
    background-color: rgb(238, 175, 80);
}
.list {
    background-color: white;
    color: brown;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;

}